services:
  mailpit:
    image: axllent/mailpit:v1.27
    container_name: mailpit
    restart: unless-stopped
    volumes:
      - mailpit_data:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
      # MP_SMTP_TLS_CERT: sans:localhost
      # MP_SMTP_TLS_KEY: sans:localhost
      # MP_SMTP_REQUIRE_TLS: true
  valkey:
    container_name: valkey
    image: valkey/valkey:alpine3.22
    volumes:
      - valkey_data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    ports:
      - 6379:6379

volumes:
  mailpit_data:
  valkey_data:
